<div>
  <%= render 'header' %>

  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span2"><b>Name</b></div>
    <div class="span2"><b>IP Address</b></div>
    <div class="span2"><b>Actions</b></div>
    <div class="span3"></div>
  </div>

</div>

<div>

    <% @allowed_ips.each do |allowed_ip| %>
      <div class="row-fluid">
        <div class="span3"></div>
        <div class="span2"><%= allowed_ip.name %></div>
        <div class="span2"><%= allowed_ip.ip_address %></div>
        <div class="span2"><%= link_to 'Destroy', allowed_ip, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <div class="span3"></div>
      </div>
    <% end %>


</div>




