<div>
  <%= render 'header' %>
  <div class="row-fluid">
    <div class="span5"></div>
    <div class="span2">
      <h2 style="text-align: center">Add New IP Address</h2>

      <%= render 'form' %>

    </div>
    <div class="span5"></div>
  </div>
</div>












